<div class="footer">
  <div class="container">
    <div class="footer-grid">
      <div class="column">
        <h3>КАТАЛОГ</h3>
        <ul>
          <li>Овощи</li>
          <li>О нас</li>
          <li>Рассада</li>
          <li>Инвентарь</li>
          <li>Агрохимия</li>
          <li>Разное</li>
        </ul>
      </div>
      <div class="column">
        <h3>О МАГАЗИНЕ</h3>
        <ul>
          <li>О нас</li>
          <li>Новости</li>
          <li>Контакты</li>
        </ul>
      </div>
      <div class="column">
        <h3>ПОКУПАТЕЛЯМ</h3>
        <ul>
          <li>Доставка</li>
          <li>Вопрос ответ</li>
        </ul>
      </div>
      <div class="column">
        <h3>КОНТАКТЫ</h3>
        <ul>
          <li>Свердловская обл., г Екатеринбург, ул. Санаторная 11</li>
          <li class="text-phone">т. +7 (953) 606 95 85</li>
          <li>
            Ежедневно
            с 6:00 до 18:00
            Суббота
            с 7.00 до 15.00
            Воскресенье: выходной </li>
        </ul>
      </div>
    </div>
  </div>
</div>
