<div class="create-container">

  <h2>Создание позиции</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">


    <div
      class="form-control-custom">
      <label for="division_uniq">Подразделение: </label>
      <select id="division_uniq" [(ngModel)]="selected" formControlName="division_uniq">
        <option [ngValue]="null" placeholder="Выберите подразделение...">Выберите подразделение...</option>
        <option *ngFor="let division of divisions" [ngValue]="division.uniq_name">{{division.title}}</option>
      </select>

    </div>



    <div
      class="form-control-custom"
      [ngClass]="{invalid: form.get('name')?.touched && form.get('name')?.invalid}"
    >
      <label for="phone">Название: </label>
      <input id="phone" placeholder="Введите название позиции" type="name" formControlName="name">
      <div
        *ngIf="form.get('name')?.touched && form.get('name')?.invalid; else temp"
        class="validation"
      >
        <small
          *ngIf="form.get('name')?.errors?.required"
        >Введите позицию</small>
      </div>
    </div>


    <div
      class="form-control-custom"
      [ngClass]="{invalid: form.get('uniq_name')?.touched && form.get('uniq_name')?.invalid}"
    >
      <label for="uniq_name">Уникальный идентификатор: </label>
      <input id="uniq_name" placeholder="Введите идентификатор латинскими буквами" type="name" formControlName="uniq_name">
      <div
        *ngIf="form.get('uniq_name')?.touched && form.get('uniq_name')?.invalid; else temp"
        class="validation"
      >
        <small
          *ngIf="form.get('uniq_name')?.errors?.required"
        >Введите уникальный идентификатор</small>

        <small
          *ngIf="form.get('uniq_name')?.errors?.pattern"
        >Используйте латинский алфавит</small>
      </div>

    </div>

    <div class="center button-container">
      <button
        type="submit"
        class="btn-custom"
        [disabled]="form.invalid"
      >Создать
      </button>
    </div>


  </form>

  <ng-template #temp>
    <div class="validation"></div>
  </ng-template>

</div>
