<div class="breadCrumbs">
  <div class="breadCrumbs-content"  *ngFor="let crumb of breadCrumbs; let index = index">
    <img [style]="index === 0 ? 'display:none':''" src="assets/icons/option_arrow.svg">
    <a class="crum" [class.active-bread]="index === breadCrumbs.length - 1" (click)="routeToCrumb(breadCrumbs, index)" >{{crumb.title}}</a>
  </div>
</div>
<h2 class="catalog-title">{{currentTitle}}</h2>
<div class="catalog-grid" *ngIf="categories && isCatalog">
  <div class="catalog-card object-fit:cover; card" *ngFor="let category of categories" (click)="goToCategory(category)">
    <h2>{{category.title}}</h2>
    <img [src]="env.url+ '/' + category.image" alt="">
  </div>
</div>
<div class="flex-catalog" *ngIf="!isCatalog && !isProduct">
  <div class="catalog-options">
    <div class="option-header">
      <h4>Каталог</h4>
    </div>
    <hr>
    <div class="option-body">
      <ul *ngIf="categoriesOptions">
        <li *ngFor="let category of categoriesOptions; let index = index">
          <div class="option-item" >
            <img [src]="category.divisionFlag?'assets/icons/option_arrow_g.svg':'assets/icons/option_arrow.svg'" (click)="openCategoryOptions(category, index)">
            <p (click)="setLeaf(null)" (click)="setProducts(category, 'category')" [routerLink]="['/catalog', category.uniq_name]">{{category.title.toUpperCase()}}</p>
          </div>
          <ul *ngIf="category.divisionFlag">
            <li *ngFor="let division of category.divisions; let indexD = index">
              <div class="option-item option-division"  >
                <img [src]="division.positionFlag?'assets/icons/option_arrow_g.svg':'assets/icons/option_arrow.svg'" (click)="openDivisionOptions(division, index , indexD)">
                <p (click)="setLeaf(null)" (click)="setProducts(division, 'division')" [routerLink]="['/catalog', category.uniq_name , division.uniq_name]">{{division.title}}</p>
              </div>
              <ul  *ngIf="division.positionFlag">
                <li  *ngFor="let position of division.positions; let indexP = index">
                  <div class="option-item option-position">
                    <div class="option-leaf" >
                      <img *ngIf="productFlag === position.uniq_name" src="assets/icons/option_leaf.svg" >
                    </div>
                    <p (click)="setProducts(position, 'position')" [routerLink]="['/catalog', category.uniq_name , division.uniq_name, position.uniq_name]" (click)="setLeaf(position)">{{position.title}}</p>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </div>

  <div *ngIf="products" class="catalog-shop">
    <div *ngFor="let product of products" class="shop-card">
      <img (click)="goToProduct(product)" class="card-img" [src]="env.url + '/' + product.image">
      <p class="card-text">{{product.title}}</p>
      <div class="card-price">
        <var>{{product.price}} рублей</var>
        <span>Фасовка: {{product.packing}}</span>
      </div>
      <div class="card-buttons">
        <div *ngIf="productsCart$ | async | getFilterProduct: product as ProductInfo"  class="wrapper-card-add">
          <div class="card-add">
            <i (click)="decreaseCount(ProductInfo)">-</i>
            <span>{{ProductInfo.count}}</span>
            <i (click)="increaseCount(ProductInfo)">+</i>
          </div>
        <span>шт.</span>
        </div>
        <button class="btn-red"  *ngIf="productsCart$ | async | filterProduct: product; else toCart" [routerLink]="['/cart']" >В корзину</button>
        <ng-template #toCart>
          <button class="card-buy" (click)="buyProduct(product)">Купить</button>
        </ng-template>
      </div>
    </div>


  </div>

</div>


<div class="product-card" *ngIf="currentProduct && isProduct">
  <img class="product-img" [src]="env.url + '/' + currentProduct.image">
  <div class="product-content">
    <div class="product-content__info">
      <div>
        <b>Артикул: </b>{{currentProduct.article_number}}
      </div>
      <div>
        <b>Фасовка: </b>{{currentProduct.packing}}
      </div>
      <div>
        <b>Количество: </b>{{currentProduct.count}}
      </div>
    </div>
    <div class="product-content__buttons">
      <div class="active">Описание</div>
      <div class="inactive">Отзывы</div>
    </div>
    <div class="product-content__desc">
      {{currentProduct.description}}
    </div>
  </div>
  <div class="product-price">
    <div class="product-price__block">
      <div class="product-price__price">{{currentProduct.price}} руб.</div>
      <div class="product-price__price-help">за упаковку</div>
      <div  *ngIf="productsCart$ | async | getFilterProduct: currentProduct as ProductInfo; else templatePrice"   class="wrapper-flex-card-add">
        <div class="flex-card-add">
          <i (click)="decreaseCount(ProductInfo)">-</i>
          <span>{{ProductInfo.count}}</span>
          <i (click)="increaseCount(ProductInfo)">+</i>
        </div>
        <span>шт.</span>
      </div>

      <ng-template #templatePrice>
        <div style="height: 30px"></div>
      </ng-template>

      <button class="flex-btn-red"  *ngIf="productsCart$ | async | filterProduct: currentProduct; else toCart" [routerLink]="['/cart']" >В корзину</button>
      <ng-template #toCart>
        <button class="flex-card-buy" (click)="buyProduct(currentProduct)">Купить</button>
      </ng-template>
    </div>
    <img class="product-price__tree" src="assets/images/card_tree.svg" alt="">
  </div>

</div>

