<nav class="navbar">
  <ul>
    <li>
      <a [routerLink]="['/']"><img src="assets/images/main_logo.svg" alt="main-logo"></a>
    </li>
    <li>
      <input type="search" placeholder="Поиск товара...">
    </li>
    <li>
      <a>{{ price$ | async}} руб <img src="assets/icons/cart.svg"></a>
    </li>
    <li>
      <div *ngIf="!authService.isAuthenticated()">
        <a [routerLink]="['/login']">Вход</a>
        <p>/</p>
        <a [routerLink]="['/register']">Регистрация</a>
      </div>
      <div *ngIf="authService.isAuthenticated()">
        <a [routerLink]="['/profile']">Личный кабинет</a>
        <p>/</p>
        <a [routerLink]="['/']" (click)="this.authService.logout()">Выйти</a>
      </div>

    </li>
  </ul>

</nav>

<router-outlet></router-outlet>

