<section class="login-container">
  <form class="card login" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Регистрация</h2>

    <div class="alert alert-danger" *ngIf="authService.error$ | async as error">{{error}}</div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('phone')?.touched && form.get('phone')?.invalid}"
    >
      <label for="phone">Ваш номер телефона: </label>
      <input id="phone" placeholder="+7 (___)-___-__-__" type="tel" formControlName="phone">
      <div
        *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid; else temp"
        class="validation"
      >
        <small
          *ngIf="form.get('phone')?.errors?.required"
        >Введите телефон</small>
        <small
          *ngIf="form.get('phone')?.errors?.pattern"
        >Телефон введён неправильно</small>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('fio')?.touched && form.get('fio')?.invalid}"
    >
      <label for="email">Ф.И.О: </label>
      <input id="fio" placeholder="Иван Иванович Иванов" type="fio" formControlName="fio">
      <div
        *ngIf="form.get('fio')?.touched && form.get('fio')?.invalid; else temp"
        class="validation"
      >
        <small
          *ngIf="form.get('fio')?.errors?.required"
        >Введите Ф.И.О</small>
      </div>
    </div>
    <div
      class="form-control"

      [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}"
    >
      <label for="email">Ваш e-mail (Не обязательно): </label>
      <input id="email" placeholder="example@gmail.com" type="email" formControlName="email">
      <div
        *ngIf="form.get('email')?.touched && form.get('email')?.invalid; else temp"
        class="validation"
      >
        <small
          *ngIf="form.get('email')?.errors?.email"
        >Email введён неправильно</small>
      </div>
    </div>

    <div formGroupName="passwords">
      <div
        class="form-control"
        [ngClass]="{invalid: form.get('passwords')?.get('password')?.touched && form.get('passwords')?.get('password')?.invalid}"
      >
        <label for="password">Придумайте пароль: </label>
        <input id="password" placeholder="более 6 символов" type="password" formControlName="password">
        <div
          *ngIf="form.get('passwords')?.get('password')?.touched && form.get('passwords')?.get('password')?.invalid ; else temp"
          class="validation"
        >
          <small
            *ngIf="form.get('passwords')?.get('password')?.errors?.required"
          >Введите пароль</small>

          <small
            *ngIf="form.get('passwords')?.get('password')?.errors?.minlength"
          >Введите пароль больше шести символов</small>

        </div>
      </div>
      <div
        class="form-control"
        [ngClass]="{invalid: form.get('passwords')?.get('passwordRepeat')?.touched && (form.get('passwords')?.errors?.mismatchedPasswords || form.get('passwords')?.get('passwordRepeat')?.invalid)}"
      >
        <label for="password-repeat">Повторите пароль: </label>
        <input id="password-repeat" placeholder="более 6 символов" type="password" formControlName="passwordRepeat">
        <div
          *ngIf="form.get('passwords')?.get('passwordRepeat')?.touched && form.get('passwords')?.invalid ; else temp"
          class="validation"
        >
          <small
            *ngIf="form.get('passwords')?.get('passwordRepeat')?.errors?.required"
          >Повторите пароль</small>

          <small
            *ngIf="form.get('passwords')?.errors?.mismatchedPasswords"
          >Пароли не совпадают</small>

        </div>
      </div>
    </div>
    <div class="center">
      <button
        type="submit"
        class="btn btn-medium"
        [disabled]="form.invalid"
      >Зарегестрироваться
      </button>
    </div>
  </form>

  <ng-template #temp>
    <div class="validation"></div>
  </ng-template>

</section>
<!--[disabled]="form.invalid"-->
